
body {
	background-color: #2b3844;
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
}

/* Header section */
/* ################################################################### */
.navbar {
	background-color: #2b3844;
	border: none;
	box-shadow: none;
}
#main-nav-container {
	background-color: white;
}
#logo-container {
	background-image: url('../images/ISDAMark3.png');
	background-repeat: no-repeat;
	background-size: contain;
	width: 150px;
	height: 55px;
	margin: 60px auto 15px auto;
}
#navbar {
	text-align: center;
}
.navbar-default .navbar-nav > li > a {
	letter-spacing: 3px;
	padding-right: 0;
	padding-left: 0;
	margin: 0 1.5em;
	font-size: 14px;
	/*font-family: 'Vollkorn', serif;*/
	font-camily: 'Open Sans', sans-serif;
	text-transform: uppercase;
	color: #c3996b;
}
/* Remove square gray background on active, hover & focus */
.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:hover, .navbar-default .navbar-nav>.active>a:focus {
	background-color: white;
	color: #2b3844;
}
.navbar-nav {
	display: inline-block;
	float: none;
}
/*Fade nav links*/
#navbar li.fade {
	opacity: 0.7;
}
#navbar li.fade a {
	color:       transparent;
	text-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
}
/* Shadow upon scroll */
.header-bottom-border {
	box-shadow: 0px 8px 17px -8px rgba(0, 0, 0, 0.1);
}

/* Main container */
/* ################################################################## */

#main-container {
	background-color: white;
	padding-top: 30px;
	padding-bottom: 20px;
}
.post {
	display: block;
	padding: 35px;
	/*background-color: #eee;*/
	margin-bottom: 30px;
	width: 70%;
	border-bottom: 1px dotted #bbb;
	color: #2b3844;
	font-family: 'Vollkorn', serif;
}
.post .post-pic {
	width: 100%;
	height: auto;
	float: left;
}
.post .post-date {
	/*color: #f93f3b;*/
	/*color: rgb(155, 21, 24);*/
	color: #c3996b;
	text-transform: uppercase;
	font-weight: 400;
	margin-bottom: 0px;
}
.post .post-title {
	font-family: 'Open Sans', 'Unica One', cursive;
	text-transform: uppercase;
	font-size: 30px;
	line-height: 1em;
}
.post .post-content .post-read-more a {
	text-decoration: none;
	color: #c3996b;
	font-variant: small-caps;
}
.post .post-content .post-read-more a:hover {
	color: #2b3844;
}


/* Footer */
/* ################################################################# */
.navbar-fixed-bottom {
	background-color: #2b3844;
}
#footer-nav-container {
	background-color: white;
	/* padding bottom to fix blue line at bottom of page*/
	padding-top: 15px;
	padding-bottom: 15px;
}
/* Footer shadow upon scroll */
.footer-bottom-border {
	box-shadow: 0px -8px 17px -8px rgba(0, 0, 0, 0.1);
}

/* ************** Media Queries *********** */
/* #################################################################### */
/* 768px 992px 1200px */

/* When screen is wider than 768px */
@media (min-width: 768px){

}





